{#leftHeader toggle UI-logic#}
<script>
  function uiLogicLH() {
    {#switching leftHeader content#}
    $('.leftHeader').toggleClass('expanded');

    {#switching leftHeader width#}
    $('.leftHeader').toggleClass('col-xs-1');
    $('.leftHeader').toggleClass('col-xs-3');
      {#main width also effected#}
      $('.main').toggleClass('col-xs-9');
      $('.main').toggleClass('col-xs-7');
      {#close button also effected#}
      $('.action').toggleClass('hidden');
      $('.task,.taskId').toggleClass('hidden');

  }

  $('.collapsedLH').click(function(){
    uiLogicLH();
  });

  $('.closeBtn').click(function(){
    uiLogicLH();
  });
</script>


{#show all clicked#}
<script>
  $('.allBtn').click(function(){
    window.location.href = '{{ url_for('statistic_all_on_going') }}'; {#ref. http://stackoverflow.com/a/506004/248616#}
  });
</script>