{% macro leftHeader_content() %}
  <div class="hidden action allBtn">view all</div>
  <div class="hidden action closeBtn">close</div>
  <div style="clear: both"></div>

  <style>
  .line00 div {
    display: inline-block;
  }
  .leftHeader {
    background-color: black;
  }
  .action.closeBtn, .action.allBtn {
    color: grey;
    width: 40%;
    padding-right: 1rem;
  }
  .action.closeBtn {
    text-align: right;
    float: right;
  }
  .action.allBtn {
    float: left;
  }
  </style>

  {% from 'leftHeader/_collapsed.html' import leftHeader_collapsed %}
  {{ leftHeader_collapsed() }}

  {% from 'leftHeader/_expanded.html' import leftHeader_expanded %}
  {{ leftHeader_expanded() }}

  <style>
  .expanded .collapsedLH {
    display: none;
  }
  .expanded .expandedLH {
    display: block;
  }
  .expandedLH {
    display: none;
  }

  .leftHeader.expanded {
    width: 15%;
  }
  </style>
{% endmacro %}
