{% macro leftHeader_expanded() %}

  {% from 'leftHeader/_on-going-task.html' import leftHeader_onGoingTask %}
  {{ leftHeader_onGoingTask(id='00') }}
  {{ leftHeader_onGoingTask(id='01') }}
  {{ leftHeader_onGoingTask(id='02') }}
  {{ leftHeader_onGoingTask(id='03') }}
  {{ leftHeader_onGoingTask(id='04') }}


  {#region wireframe#}
  <div class="bkgimg expandedLH hidden"></div>

  <style>
  .expandedLH {
    background-image: url('{{ url_for('static', filename='image/wireframe/leftHeader-expanded.png') }}');
  }
  </style>
  {#endregion wireframe#}

{% endmacro %}
