{% extends 'user/dashboard.html' %}

{% block main %}
  <div>Dashboard of OWNER</div>
{% endblock main %}

{% block rightNav %}
  {% from 'rightNav/_content.html' import rightNav_normal %}
  {{ rightNav_normal(userRole=config['USER_ROLE']['giver'],
                     userRoleREVERSED=config['USER_ROLE']['player'],
                     hiddenWhenGiver='hidden'
  ) }}
{% endblock %}


{% block onReadyJs %}
  {{ super() }} {#calling parent's code of this block ref. http://stackoverflow.com/a/31093830/248616#}
  {% include 'rightNav/_content.js.html' %}
{% endblock %}