{% extends 'layout/base.html' %}


{% block leftHeader %}
  {% from 'leftHeader/_collapsed.html' import leftHeader_collapsed %}
  {{ leftHeader_collapsed() }}

  {% from 'leftHeader/_expanded.html' import leftHeader_expanded %}
  {{ leftHeader_expanded() }}

  <style>
  .expanded .collapsedLH {
    display: none;
  }
  .expanded .expandedLH {
    display: block;
  }
  </style>
{% endblock %}


{% block main %}
  <div class="dashboard">Dashboard page</div>
{% endblock main %}


{% block rightNav %}
  {% from 'rightNav/_normal.html' import rightNav_normal %}
  {{ rightNav_normal() }}
{% endblock %}


{% block onReadyJs %}
  <script>
  $('.leftHeader').click(function(){
    {#switching leftHeader content#}
    $(this).toggleClass('expanded');

    {#switching leftHeader width#}
    $(this).toggleClass('col-xs-1');
    $(this).toggleClass('col-xs-3');
      {#main width also effected#}
      $('.main').toggleClass('col-xs-9');
      $('.main').toggleClass('col-xs-7');

  })
  </script>
{% endblock %}
