{% extends template %}

{% block main %}
    <div class="wallet-container">
        <div class="row my-point">
            <span class="col-sm-6">Point</span>
            <span class="col-sm-6 text-right">{{ my_point }}</span>
        </div>
        <div class="row">
            {% for data in fake_data %}
                <div class="wallet-item">
                    <div class="content">
                        <div class="item">
                            <img src="{{ url_for('static',filename=('image/reward-iphone.png') if data.id % 2 == 0 else 'image/reward-bikini.png') }}" />
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}