@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

* {
  *border: 1px solid rgba(0,122,0,.5)
}

.bkgimg {
    height: 100%;
    width: auto;
    background-size: contain;

    background-repeat: no-repeat;
    background-position: center center;
}

/*region horizontal spacing */
.hozSpacing01 {
  height: 2rem;
}

.hozSpacing02 {
  height: 4rem;
}

.hozSpacing03 {
  height: 6rem;
}
/*endregion horizontal spacing */

/*region Hoai's css*/
.task-board-container {

    
    height: 100%;
}

.task-board-container .event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 15px 30px;
}

.task-board-container .event-list > li {
    background-color: #242424;
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
    color: #d6d6d6;
}

.task-board-container .event-list > li time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.task-board-container .event-list > li:nth-child(even) > time {
    background-color: rgb(165, 82, 167);
}

.task-board-container .event-list > li time span {
    display: none;
}

.task-board-container .event-list > li time .day {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
}

.task-board-container .event-list > li time .month {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
}

.task-board-container .event-list > li > img {
    width: 100%;
}

.task-board-container .event-list > li > .info {

    background-color: #242424;
    /*padding: 5px 0px;*/
    text-align: center;
}

.task-board-container .event-list > li > .info .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}

.task-board-container .event-list > li > .info .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}

.task-board-container .event-list > li > .info > ul,
.task-board-container .event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.task-board-container .event-list > li > .social > ul {
    margin: 0px;
}

.task-board-container .event-list > li > .info > ul > li,
.task-board-container .event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}

.task-board-container .event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

.task-board-container .event-list > li > .info .title {
    margin: 0px;
}

.task-board-container .event-list > li > .social > ul > li {
    padding: 0px;
}

.task-board-container .event-list > li > .social > ul > li > a {
    padding: 3px 0px;
}

.task-board-container .event-list > li > .info > ul > li:hover,
.task-board-container .event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}

.facebook a,
.twitter a,
.google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}

.twitter a {
    color: rgb(79, 213, 248) !important;
}

.google-plus a {
    color: rgb(221, 75, 57) !important;
}

.facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}

.twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}

.google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
    .task-board-container .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 150px;
        padding: 0px;
    }

    .task-board-container .event-list > li time,
    .task-board-container .event-list > li > img {
        display: inline-block;
    }

    .task-board-container .event-list > li time,
    .task-board-container .event-list > li > img {
        width: 150px;
        float: left;
    }

    .task-board-container .event-list > li > .info {
        overflow: hidden;
    }

    .task-board-container .event-list > li time,
    .task-board-container .event-list > li > img {
        width: 150px;
        height: 150px;
        padding: 0px;
        margin: 0px;
    }

    .task-board-container .event-list > li > .info {
        position: relative;
        height: 150px;
        text-align: left;
        /*padding-right: 40px;*/
    }

    .task-board-container .event-list > li > .info > .title,
    .task-board-container .event-list > li > .info > .desc {
        padding: 0px 10px;
    }

    .task-board-container .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .task-board-container .event-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }

    .task-board-container .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }

    .task-board-container .event-list > li > .social > ul > li {
        display: block;
        padding: 0px;
    }

    .task-board-container .event-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}

img.circle {
    border-radius: 100%;
}

.task-board-container .table.actions td {
    padding: 5px 10px;
    border-top: none;
    background-color: #3b3b3b;
    color: #d6d6d6;
}

.task-board-container .table.actions td:hover {
    opacity: 0.8;
}

.task-board-container .event-list .task-info {
    height: 100%;
    position: relative;
}

.task-board-container .event-list .task-info, .task-board-container .event-list .user-info {
    padding: 10px;
}

.task-board-container .event-list .user-info .avatar img {
    width: 70px;
}

.leader-board-container {
    background-color: #030303;
}

.leader-board-container .board-item {
    margin: 10px 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: #242424;
    color: #d6d6d6;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: bold;
}

.leader-board-container .board-item:hover {
    background-color: #800f77;
}

.leader-board-container .board-item.top:hover {
    color: #d6d6d6;
}

.leader-board-container .board-item.top {
    color: #c016b4;
}

.leader-board-container .board-item .rank {
    padding-left: 30px;
}

.wallet-container {
    padding: 20px;
}

.wallet-container .my-point {
    padding: 10px 20px;
    margin-bottom: 50px;
    border-radius: 50px;
    background-color: #242424;
    color: #c016b4;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: bold;
}

.wallet-container .items td {
border: none;
}

.wallet-container .wallet-item {
    background-color: #242424;
    border-radius: 20px;
    float:left;
    position: relative;
    width: 15%;
    padding-bottom: 15%; /* = width for a 1:1 aspect ratio */
    margin-right:1.66%;
    margin-bottom: 1.66%;
    overflow:hidden;
}

.wallet-container .wallet-item .content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
}

.wallet-container .wallet-item .content .item {
    max-width: 50%;
    max-height: 50%;
    left: -25%;
    top: -35%;
    position: relative;
}

.wallet-container .wallet-item .content .item img {
    max-width: 100%;
    max-height: 100%;

}
/*endregion Hoai's css*/
