{#logo clicked to open app index#}
<script>
  $('.logo').click(function(){
    window.location.href = '{{ url_for('app_index') }}'; {#ref. http://stackoverflow.com/a/506004/248616#}
  });
</script>

{#switch role clicked handler#}
<script>
  $('.button.switchRole').click(function(){
    {% set userRole = session['userRole'] if 'userRole' in session else config['USER_ROLE']['player'] %}
    {% set userRoleREVERSED = config['USER_ROLE']['player'] if userRole == config['USER_ROLE']['giver'] else config['USER_ROLE']['giver'] %}
    {% set viewFile = 'user_dashboard_%s' % userRoleREVERSED %}
    window.location.href = '{{ url_for(viewFile) }}'; {#ref. http://stackoverflow.com/a/506004/248616#}
  });
</script>

{#nav button clicked handler#}
<script>
  {#TODO check userRole compatible#}
  $('.navButton.myBoard').click(function(){
    window.location.href = '{{ url_for('user_player_my_board') }}'; {#ref. http://stackoverflow.com/a/506004/248616#}
  });

  {#TODO check userRole compatible#}
  $('.navButton.missionBoard').click(function(){
    window.location.href = '{{ url_for('statistic_mission_board') }}'; {#ref. http://stackoverflow.com/a/506004/248616#}
  });

  $('.navButton.leadingBoard').click(function(){
    window.location.href = '{{ url_for('statistic_leading_board') }}'; {#ref. http://stackoverflow.com/a/506004/248616#}
  });

  $('.navButton.help').click(function(){
    window.location.href = '{{ url_for('app_index') }}'; {#ref. http://stackoverflow.com/a/506004/248616#}
  });

  $('.navButton.wallet').click(function(){
    window.location.href = '{{ url_for('user_wallet') }}'; {#ref. http://stackoverflow.com/a/506004/248616#}
  });

  $('.navButton.signOut').click(function(){
    window.location.href = '{{ url_for('auth_sign_out') }}'; {#ref. http://stackoverflow.com/a/506004/248616#}
  });
</script>
