{% macro rightNav_normal(userRole, userRoleREVERSED, hiddenWhenGiver) %}
  <div class="normalRN {{ 'hidden' if session['emptyTask'] else '' }}">
    <div class="hozSpacing03"></div>
    <div class="bkgimg logo"></div>
    <div class="hozSpacing03"></div>

    <div class="bkgimg userRole"></div>
    <div class="hozSpacing02"></div>

    <div class="userName">ave_69</div>
    <div class="hozSpacing02"></div>

    <div class="navLink switchRole">Switch to {{ userRoleREVERSED }}</div>
    <div class="hozSpacing02"></div>

    <div class="navButton myBoard">Profile</div>
    <div class="hozSpacing01"></div>

    <div class="navButton wallet {{ hiddenWhenGiver }}">My Wallet</div>
    <div class="hozSpacing01"></div>

    <div class="navButton leadingBoard">Leader Board</div>
    <div class="hozSpacing01"></div>

    <div class="navButton missionBoard">Task Feed</div>

    <div class="hozSpacing02"></div>
    <div class="navButton help"></div>
    <div class="hozSpacing01"></div>

    <div class="navLink signOut">sign out</div>

    <div class="navLink bkgimg normalRN_wireframe hidden"></div>
  </div>

  <div class="expandedRN {{ 'hidden' if not session['emptyTask'] else '' }}">
    <div class="bkgimg logo"></div>
    <div class="userRole">{{ userRole }}</div>
    <div class="headLine">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt eros nec felis consectetur, sit amet suscipit neque bibendum. Mauris vestibulum ac diam vel lacinia. </div>
    <div class="navLink switchRole">Switch to {{ userRoleREVERSED }}</div>

    <div class="bkgimg navButton myBoard">Profile</div>
    <div class="bkgimg navButton wallet {{ hiddenWhenGiver }}">My Wallet</div>
    <div class="bkgimg navButton leadingBoard">Leader Board</div>
    <div class="bkgimg navButton missionBoard">Task Feed</div>

    <div class="bkgimg navButton help">Help</div>

    <div class="navLink signOut">sign out</div>

    <div class="bkgimg normalRN_wireframe hidden"></div>
  </div>

  <style>
  .rightNav {
    background-color: black;
  }

  .normalRN_wireframe {
    background-image: url('{{ url_for('static', filename='image/wireframe/lmr-rightNav.png') }}');
  }

  .logo {
    background-image: url('{{ url_for('static', filename='image/logoS.png') }}');
    height: 50px !important;
  }

  .userRole {
    text-transform: uppercase;
    text-align: center;

    {% set biFilename = 'image/lmr-rightNav/userRole-%s.png' % userRole %}
    background-image: url('{{ url_for('static', filename=biFilename) }}');
    height: 35px;
  }

  .navLink, .navButton, .userName {
    text-align: center;
  }

  .userName {
    color: #BDFF1D;
    font-size: 3rem;
  }

  .navLink {
    color: rgba(255,255,255,.8);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .navButton {
    background-image: url('{{ url_for('static', filename='image/lmr-rightNav/btn-normal.png') }}');
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;

    font-size: 2rem;
    color: #BDFF1D;
    padding-top: 1rem;

    text-transform: uppercase;
  }

  .help {
    background-image: url('{{ url_for('static', filename='image/lmr-rightNav/help.png') }}');
    height: 39px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  </style>

  {#resizing when emptyTask#}
  <style>
  .rightNav.emptyTask {
    width: 30%;
  }
  .main.emptyTask {
    width: 60%;
  }
  .leftHeader.emptyTask {
    width: 10%;
  }
  </style>
{% endmacro %}
